{% extends "base.html" %}
{% load static %}
{% block extra_title %}Home{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}
    <div class="bg-overlay"></div>
    <div class="container-fluid h-100 content-container">
        <div class="row h-100 text-center">
            <div class="col-6 offset-3 offset-md-1 col-md-4 my-auto">
                <div id="carouselFade" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="6000">
                    <div class="carousel-inner img-shadow img-zoom">
                        <div class="carousel-item active">
                            <img src="../../media/printed-cotton3.jpg" class="d-block w-100" alt="Printed cotton image">
                        </div>
                        <div class="carousel-item">
                            <img src="../../media/silk-animal2.jpg" class="d-block w-100" alt="Silk animal image">
                        </div>
                        <div class="carousel-item">
                            <img src="../../media/silk-floral1.jpg" class="d-block w-100" alt="Silk botanical image">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 my-auto">
                <h1 class="display-1 home-header">FabricZ - for everyone</h1>
                <div class="row h-100">
                    <div class="col-12 pt-5">
                        <a href="{% url 'products' %}" class="btn-home btn btn-lg border-btn-home">
                            <span class="h2 text-bold mt-2 mb-2">Find your fabrics</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'home/js/carousel.js' %}"></script>
{% endblock %}