{% extends "base.html" %}
{% load static %}
{% block extra_title %}Home{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="bg-overlay"></div>
<div class="container-fluid h-100 content-container">
    <div class="row h-100 text-center">
        <div class="col-5 col-md-6">


            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../media/silk-animal1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../media/silk-animal2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../media/silk-animal3.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>


        </div>



        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-3 home-header">Fabrics - for everyone</h1>
        </div>
        <div>
            <div class="row h-100">
                <div class="col-5 col-md-6"></div>
                <div class="col-7 col-md-6">
                    <a href="{% url 'products' %}" class="btn-home btn btn-lg border-btn-home">
                        <span class="h2 text-bold text-center mt-2 mb-2">Find your style</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'home/js/carousel.js' %}"></script>
{% endblock %}