html {
    height: 100%;
}

/* FONTS */ 

body {
    font-family: "Karla", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Raleway", sans-serif;
}

.home-header {
    color: #00f5ff;
}

/* ICONS */ 

.footer-icon {
    font-size: 1.3rem;
    color: #00f5ff;
}

.footer-icon:hover {
    color: #e62fff;
}

li > a > span > i:hover {
    transform: scale(1.5);
    transition: transform .5s;
}

/* BORDERS */

.border-btn-home {
    padding: 20px;
    border-radius: 50px;
    border: 3px solid #e62fff;
}

/* BUTTON */

.btn-home {
    background-color: #00f5ff;
    color: #1a213f;
    transition: transform .5s;
    box-shadow: 2px 2px 2px #000;
}
.btn-home:hover {
    background-color: #e62fff;
    border: #00f5ff;
    color: #f6f8f8;
    transform: scale(1.3);
    box-shadow: 5px 5px 5px #000;
}

/* NAVIGATION BAR */

.navbar-bg-custom {
    background-color: rgba(0,0,0,0)
}

.nav-link, 
.navbar > div > a {
    color: #00f5ff !important;
}

.dropdown-menu {
    background-color: rgba(0,0,0,0) !important;
}

.dropdown-item {
    color: #00f5ff !important;
}

.dropdown-item:hover {
    color: #00f5ff !important;
    background-color: #e62fff !important;
    font-weight: bolder;
}

.navbar-toggler {
    background-color: #00f5ff !important;
}

.nav-link:hover {
    color: #e62fff !important;
}

/* BACKGROUND */

body {
	background: url('/media/background.png') no-repeat center center fixed;
	background-size: cover;
    height: calc(100vh - 10px);
}

/* FOOTER */

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}