html {
    height: 100%;
}

img {
    max-height: 60vh;;
}

/* FONTS */ 

body {
    font-family: "Karla", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Raleway", sans-serif;
    color: #00f5ff;
}

.home-header {
    color: #00f5ff;
}

.text-blue {
    color: #00f5ff !important;
}

.text-purple {
    color:#e62fff !important;
}

.text-grey {
    color: #f6f8f8 !important;
}

.text-bold {
    font-weight: 700;
}

/* MARGINS, PADDINGS */ 

.space-left {
    padding: 6px !important
}

/* ICONS */ 

.footer-icon {
    font-size: 1.3rem;
    color: #00f5ff;
}

.footer-icon:hover {
    color: #e62fff;
}

li > a > span > i:hover {
    transform: scale(1.5);
    transition: transform .5s;
}

/* LOADING SPINNER */ 

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}

.spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* BORDERS */

.border-blue {
    border: 1px solid #00f5ff;
}

.border-blue:hover {
    border: 1px solid #e62fff;
}

.border-custom {
    border: 2px solid #e62fff;
}

.hr-purple {
    border: 3px solid #e62fff;
    border-radius: 3px;
}

.hr-purple-sm {
    border: 1px solid #e62fff;
}

/* CARDS */

.card-body,
.card-footer {
    background: #f6f8f8 !important;
}

.content-container {
    background: #1a213f !important;
}

.card { 
    background: rgba(0,0,0,0);
}

/* IMAGES */

.img-shadow {
    display:inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    box-shadow: inset 2px 3px 5px #000000, 0px 1px 1px #333;
}

.img-shadow-bag {
    display:inline-block;
    border-radius: 10px;
    box-shadow: inset 1px 2px 3px #000000, 0px 1px 1px #333;
}

.img-zoom {
    overflow: hidden;
    transform-origin: 50% 80%;
    transition: transform 2s, filter 1s ease-in;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-zoom:hover {
    overflow: hidden;
    transform: scale(1.05);
}

.img-rounded {
    border-radius: 20px;
}

.img-thumbnail {
    background: #F6F8F8;
}

/* BUTTON */

.btn-home {
    background-color: #00f5ff;
    color: #e62fff;
    box-shadow: 2px 2px 2px #000;
    display: inline-flex;
    align-items: center;
    font-family: "Raleway";
    transition: all 0.5s ease-in-out;
    padding: 20px;
    border-radius: 50px;
}

.btn-home:hover {
    background: #e62fff;
    color: #00f5ff;
    transform: scale(1.2);
    box-shadow: 5px 5px 5px #000;
}

#toTop {
    display: none; 
    position: fixed; 
    bottom: 30px; 
    right: 50px; 
    z-index: 100; 
    color: #00f5ff;
    font-size: 3rem;
  }
  
#toTop:hover {
color: #e62fff;
transform: scale(1.5);
transition: transform .5s;
}

.btn-bag {
    background: #00f5ff;
    color: #e62fff
}

.btn-bag:hover {
    background: #e62fff;
    color: #00f5ff;
    transform: scale(1.2);
    transition: transform .5s;
    font-weight: bold;
}

.btn-bag-toast {
    background: #161C36;
    color: #00f5ff;
    font-weight: bold;
    margin-bottom: 6px;
}

.btn-bag-toast:hover {
    background: #e62fff;
    color: #f6f8f8;
    transform: scale(1.05);
    transition: transform .5s;
}

.btn-product {
    border-radius: 10px;
    color: #00f5ff;
    background: #161C36;
}

.btn-product:hover {
    color: #f6f8f8;
    background: #E62FFF;
    transform: scale(1.05);
    transition: transform .5s;
    font-weight: bold;
}

.btn-checkout {
    color: #E62FFF;
    background: #00F5FF;
    font-weight: bold;
}

.btn-checkout:hover {
    color: #00F5FF;
    background: #E62FFF;
    transform: scale(1.1);
    transition: transform .5s;
}

.btn-quantity {
    background: #161C36;
    color: #00f5ff;
}

.btn-quantity:hover {
    background: #e62fff;
    color: #f6f8f8;
}

.btn-form {
    background: #1a213f;
    color: #e62fff;
}

.btn-form:hover {
    background: #e62fff;
    color: #f6f8f8;
}

.badge-custom {
    color: #00f5ff;
}

.badge-custom:hover {
    color: #e62fff;
}

.update-link,
.remove-item {
    cursor: pointer;
}

.update-link:hover,
.remove-item:hover {
    color: #e62fff !important;
}

/* NAVIGATION BAR */

.navbar-bg-custom {
    background-color: rgba(0,0,0,0)
}

.nav-link, 
.navbar > div > a {
    color: #00f5ff !important;
}

.dropdown-menu {
    background-color: rgba(0,0,0,0) !important;
}

.dropdown-item {
    color: #00f5ff !important;
}

.dropdown-item:hover {
    color: #00f5ff !important;
    background-color: #e62fff !important;
    font-weight: bold;
}

.navbar-toggler {
    background-color: #00f5ff !important;
}

.nav-link:hover,
a:hover {
    color: #e62fff !important;
}

/* BACKGROUND */

body {
	background: url('/media/background.png') no-repeat center center fixed;
	background-size: cover;
    height: calc(100vh - 10px);
}

.bg-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #161c36;
    z-index: -1;
}

/* FORMS */

input[type=text] {
    background: #1a213f;
    border-radius: 15px;
    color: #e62fff;
}

input[type=text]:focus {
    background-color: #f6f8f8 !important;
}

.qty_input {
    text-align: center;
}

/* SELECTORS */

select {
    background: #1a213f;
    color: #00f5ff;
}

/* TOASTS */ 

.message-container {
    z-index: 1000;
    position: fixed;
    top: 120px;
    right: 10px;
}

.bg-custom-toast {
    background: #f6f8f8 !important;
}

.bag-wrapper {
    height: 180px;
    overflow-x: hidden;
    overflow-y: auto;
}

.toast-body {
    padding: 0 !important;
}

/* FOOTER */

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

/* MEDIA QUERIES */

@media screen and (max-width: 992px) {
    #toTop {
        bottom: 20px; 
        right: 30px; 
        font-size: 2.5rem;
      }

    .center-small{
        text-align: center;
    }

    .form-input-small {
        margin: auto;
    }
}

@media screen and (max-width: 576px) {
    #toTop {
        font-size: 2rem;
        bottom: 20px; 
        right: 20px;
      }

    .img-thumbnail {
        padding: .2rem !important;
        margin: .2rem !important;
    }
    
    .message-container {
        max-width: 200px;
        font-size: 0.6rem !important;
    }
}