.form-select,
.form-control {
    background-color: #1a213f !important;
    color: #e62fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color: #e62fff;
}

.input-group-text {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

textarea:focus {
    background: #f6f8f8 !important;
    color: #1a213f !important;
}

label {
    color: #f6f8f8;
}

#id_price:focus,
#id_average_rating:focus,
#id_image_url:focus {
    background: #f6f8f8 !important;
}

#id_image_form:focus,
#id_image_form:active {
    color:#e62fff !important;
}