/* FORM */

input[type=email] {
    background: #1a213f !important;
    border-radius: 15px !important;
    color: #e62fff !important;
}

input[type=email]:focus {
    background: #F6F8F8 !important;
    color: #212529 !important;
}

#payment-form .form-control,
#card-element {
    border: 1px solid #F6F8F8;
}

.fieldset-label {
    position: relative;
}

select,
select option {
    color: #f6f8f8 !important;
    background: #1a213f !important;
    border-radius: 15px !important;
    border-color: #f6f8f8;
}

select:invalid,
select option[value=""] {
    color: #5A7272 !important;
}

/* STRIPE */

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 15px;
  background-color: #1a213f;
  box-shadow: 0 1px 3px 0 #000000;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #f6f8f8;
  background: #f6f8f8 !important;
}

.StripeElement--webkit-autofill {
  background-color: #f6f8f8 !important;
}

.stripe-style-input::placeholder {
    color: #f6f8f8;
}

/* LOADING SPINNER */ 

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 245, 255, .8);
    z-index: 99999;
}

.spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}