<div class="toast rounded bg-custom-toast border-4 border-success" role="success" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-custom-toast border-bottom border-4 border-success">
        <span><strong>Success!</strong></span>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        <div class="row">
            <div class="col ms-2">
                {{ message }}
            </div>
        </div>

        {% if grand_total and not on_profile_page %}
            <p class="py-1 ms-2">Your Bag ({{ product_count }})</p>
            <div class="bag-wrapper">
                {% for item in bag_items %}
                    <div class="row">
                        <div class="col-3 mx-auto border-custom-small">
                            {% if item.product.image %}
                                <img class="w-100 py-2" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                            {% else %}
                                <img class="w-100 py-2" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                            {% endif %}
                        </div>
                        <div class="col-7 space-end">
                            <p><strong>{{ item.product.name }}</strong></p>
                            <p class=" small text-muted">Qty: {{ item.quantity }}</p>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:1 %}
                        <div class="col-12 m-2 mx-auto">
                            <hr class="hr-purple-sm my-auto">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    <strong><p class="mt-3 mb-1">
                        Total{% if free_delivery_delta > 0 %} (Exc. delivery){% endif %}: 
                        <span class="float-end me-1">€{{ total|floatformat:2 }}</span>
                    </p></strong>
                    {% if free_delivery_delta > 0 %}
                        <p class="mb-0 p-2 bg-warning shadow-sm text-center">
                            Spend <strong>€{{ free_delivery_delta }}</strong> more to get free next day delivery!
                        </p>
                    {% endif %}
                    <div class="d-grid gap-2 col-10 mx-auto">
                        <a href="{% url 'view_bag' %}" class="btn btn-bag-toast btn-block rounded">
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                            <span class="text-uppercase">Go To Secure Checkout</span>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>
</div>